* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Nav bar classes start */
.container {
  width: 1140px;
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: 19%;
  margin: 0 auto;
  padding: 0;
  height: 90px;
  box-sizing: border-box;
}
.search-box input {
  width: 55%;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  position: relative;
  text-transform: none;
  /* bura click olanda gelen borderi silmeye kod yazilacaq */
}
.search-box span i {
  position: absolute;
  left: 55%;
}
.user {
  cursor: pointer;
}
.userbox {
  border-bottom: 2px solid whitesmoke;
}
.userbox:hover {
  padding-bottom: 5px;
  border-color: #7db927;
}
.userbox a {
  width: 100%;
  background: none;
  color: black;
}

.userbox a:hover {
  width: 100%;
  color: #7db927;
}
.userbox-bag {
  margin-bottom: 1%;
  color: whitesmoke;
  background: #7db927;
  padding-top: 2%;
}
.userbox-bag a {
  color: whitesmoke;
}
.img-logo {
  height: 90px;
  object-fit: cover;
}
.header-img {
  width: 1864px;
  position: relative;
  object-fit: cover;
  overflow: auto;
}
.header-img img {
  width: 100%;
}
.row2 {
  position: absolute;
  top: 10.5%;
  left: 19%;
}

.row2 ul li {
  list-style-type: none;
}

.row2 ul li a {
  text-decoration: none;
  color: whitesmoke;
  margin-top: 1px;
  padding: 10px;
}
.row2 ul li a:hover {
  color: black;
  background: #fff;
}
.sub-menu-1 {
  display: none;
}
.sub-menu-1 ul li a {
  color: black;
}

.row2 ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  font-size: 14px;
}

.row2 ul li:hover .sub-menu-1 ul {
  width: 1200px;
  height: 300px;
  display: block;
  background: #fff;
  position: relative;
}

.row2 ul li:hover .sub-menu-1 ul li {
  width: 20%;
  padding: 10px;
  text-align: left;
  border-bottom: 1px dotted gray;
}
.row2 ul li:hover .sub-menu-1 ul li a {
  background: none;
  color: black;
  margin-left: -20px;
  padding-right: 40px;
}

.row2 ul li:hover .sub-menu-1 ul li a:hover {
  color: #7db927;
}
/* contact classes */

/* contact classes end */

/* footer */

/* iconic start */

.inner {
  width: 1200px;
  background: #fff !important;
}
.item-2 {
  width: 25%;
  height: 60px;
  background: #7db927;
  margin: 15px;
}
.item-2 .text {
  font-size: 18px;
  padding: 15px;
  padding-right: 44%;
  color: #fff;
}
.item-2 .icons {
  display: inline;
  object-fit: cover;
}
.item-2:nth-child(2) .text {
  padding-right: 47%;
}
.item-2:nth-child(3) .text {
  padding-right: 57%;
}
.item-2:nth-child(4) .text {
  padding-right: 18%;
}

.item-2 .icons2 {
  display: inline;
  object-fit: cover;
}

/* iconic end */

/* footer start */

/* .footer {
    background: url(../images/footer-bg.png) no-repeat center top;
    padding-top: 76px;
  } */
.footer {
  background: url(../images/footer-bg.png) no-repeat center top;
  height: 280px;
  padding-top: 76px;
  padding-bottom: 1%;
}
.wrap {
  width: 100%;
}

.inner {
  width: 1180px;
  background: none !important;
  color: #fff;
  padding: 0px 20px;
}
.item {
  width: 25%;
  padding-right: 30px;
}
.item a {
  width: 255px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}
.item .title {
  font-size: 20px;
  border-bottom: 1px solid #807875;
  display: block;
  padding: 0 0 8px;
  margin: 0 0 10px;
}
.item ul {
  padding-left: 0px;
}
.social li a {
  width: 35px;
  background: #fff;
  margin: 5px;
}
.social li a:hover {
  background: #7db927;
}
.social .bi {
  color: #463b37;
}

/* footer end */

/* copyright start */
.copytext {
  color: #463b37;
  font-size: 14px;
}
/* copyright end */
