/* contact classes */
.contact {
  width: 1200px;
}
.page-title {
  margin: 10px 0;
  padding: 6px 0px;
  margin-left: -3.5%;
  margin-right: 3.5%;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.text-area {
  width: 100px;
}
.borderpx {
  width: 100%;
  border-bottom: 1px dotted gray;
  height: 1px;
}
.col-6:first-child {
  padding: 0% 25% 0% 5%;
  font-size: 13px;
  font-weight: 700;
  font-weight: bolder;
}
.col-6:first-child h4 {
  color: rgb(15, 96, 187);
  font-size: 22px;
  font-weight: 100;
  margin-left: -15%;
}

.contact .row {
  margin-left: -3.5%;
  margin-right: 3.5%;
}
/* .col-6:nth-child(2) {
  padding-right: 0px;
} */

.form-group {
  padding: 8px 0 8px;
}

.form-group input {
  width: 70%;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 8px;
}
.input-name {
  width: 25%;
  height: 25px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 5px;
}
.form-group textarea {
  width: 70%;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 8px;
}
.submit {
  margin: 2% 5%;
}
.submit input {
  background: #ecebeb;
  color: #463b37;
  border: 0;
  border-radius: 0;
  font-size: 12px;
}
/* contact classes end */
