/* body classes start */
.contact {
  width: 1200px;
}
.contact-title {
  color: #333333;
  margin: 10px 0;
  padding: 6px 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
  font-size: 12px;
}
.panel-header {
  padding: 10px 15px;
  color: #333;
  border: 1px solid #ddd;
  font-weight: 700;
  font-size: 15px;
}
.panel-body {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: 0px;
}
.input-text {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-icon {
  display: inline-block;
  color: #463b37;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-right: none;
}
.form-group input {
  width: 90%;
  background: none;
  color: #333;
  border: 1px solid #ddd;
  padding: 6px 12px;
}
.checkbox a {
  margin-top: 3%;
  color: #333;
  font-size: 12px;
  font-weight: 600;
}
.checkbox {
  margin: 10px 0;
}
.checkbox input {
  width: 2%;
  margin-right: -20px;
}
.checkbox span {
  margin-left: 5%;
  font-size: 12px;
}
input#gender {
  width: 13px;
}
.input-text {
  margin-top: 10px;
}
.btn-icon {
  display: inline-block;
  margin-right: 2%;
}
.greenbutton {
  border-radius: 0px;
  width: 100%;
  background: #7db927 !important;
  border: solid 1px #7db927 !important;
  color: #fff !important;
  font-size: 13px;
}
.facebook-btn {
  border-radius: 0px;
  width: 100%;
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #ffffff;
  font-size: 12px;
}
.col-6 p {
  font-size: 12px;
  font-weight: bold;
}
.col-6 button a {
  color: #fff;
}
.panel-body .form-group .row .col-6 input {
  width: 79%;
}

/* body classes end */
