* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Nav bar classes start */
.container {
  width: 1140px;
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: 19%;
  margin: 0 auto;
  padding: 0;
  height: 90px;
  box-sizing: border-box;
}
.search-box input {
  width: 55%;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  position: relative;
  text-transform: none;
  /* bura click olanda gelen borderi silmeye kod yazilacaq */
}
.search-box span i {
  position: absolute;
  left: 55%;
}
.user {
  cursor: pointer;
}
.userbox {
  border-bottom: 2px solid whitesmoke;
}
.userbox:hover {
  padding-bottom: 5px;
  border-color: #7db927;
}
.userbox a {
  width: 100%;
  background: none;
  color: black;
}

.userbox a:hover {
  width: 100%;
  color: #7db927;
}
.userbox-bag {
  margin-bottom: 1%;
  color: whitesmoke;
  background: #7db927;
  padding-top: 2%;
}
.userbox-bag a {
  color: whitesmoke;
}
.img-logo {
  height: 90px;
  object-fit: cover;
}
.header-img {
  width: 1864px;
  position: relative;
  object-fit: cover;
  overflow: auto;
}
.header-img img {
  width: 100%;
}

.row2 {
  position: absolute;
  top: 10.5%;
  left: 19%;
}

.row2 ul li {
  list-style-type: none;
}

.row2 ul li a {
  text-decoration: none;
  color: whitesmoke;
  margin-top: 1px;
  padding: 10px;
}
.row2 ul li a:hover {
  color: black;
  background: #fff;
}
.sub-menu-1 {
  display: none;
}
.sub-menu-1 ul li a {
  color: black;
}

.row2 ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  font-size: 14px;
}

.row2 ul li:hover .sub-menu-1 ul {
  width: 1200px;
  height: 300px;
  display: block;
  background: #fff;
  position: relative;
}

.row2 ul li:hover .sub-menu-1 ul li {
  width: 20%;
  padding: 10px;
  text-align: left;
  border-bottom: 1px dotted gray;
}
.row2 ul li:hover .sub-menu-1 ul li a {
  background: none;
  color: black;
  margin-left: -20px;
  padding-right: 40px;
}

.row2 ul li:hover .sub-menu-1 ul li a:hover {
  color: #7db927;
}
/* nav-bar classes end */

/* body classes start */
.contact {
  width: 1200px;
}
.contact-title {
  color: #333333;
  margin: 10px 0;
  padding: 6px 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
  font-size: 12px;
}
.panel-header {
  padding: 10px 15px;
  color: #333;
  border: 1px solid #ddd;
  font-weight: 700;
  font-size: 15px;
}
.panel-body {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: 0px;
}
.input-text {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-icon {
  display: inline-block;
  color: #463b37;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-right: none;
}
.form-group input {
  width: 90%;
  background: none;
  color: #333;
  border: 1px solid #ddd;
  padding: 6px 12px;
}
.checkbox a {
  margin-top: 3%;
  color: #333;
  font-size: 12px;
  font-weight: 600;
}
.checkbox {
  margin: 10px 0;
}
.checkbox input {
  width: 2%;
  margin-right: -20px;
}
.checkbox span {
  margin-left: 5%;
  font-size: 12px;
}
input#gender {
  width: 13px;
}
.input-text {
  margin-top: 10px;
}

.btn-icon {
  display: inline-block;
  margin-right: 2%;
}
.greenbutton {
  border-radius: 0px;
  width: 100%;
  background: #7db927 !important;
  border: solid 1px #7db927 !important;
  color: #fff !important;
  font-size: 13px;
}
.facebook-btn {
  border-radius: 0px;
  width: 100%;
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #ffffff;
  font-size: 12px;
}
.col-6 p {
  font-size: 12px;
  font-weight: bold;
}
.col-6 button a {
  color: #fff;
}
.panel-body .form-group .row .col-6 input {
  width: 79%;
}

/* body classes end */

/* footer classes start */
/* iconic start */
.inner {
  width: 1200px;
  background: #fff !important;
}
.item-2 {
  width: 25%;
  height: 60px;
  background: #7db927;
  margin: 15px;
}
.item-2 .text {
  font-size: 18px;
  padding: 15px;
  padding-right: 44%;
  color: #fff;
}
.item-2 .icons {
  display: inline;
  object-fit: cover;
}
.item-2:nth-child(2) .text {
  padding-right: 47%;
}
.item-2:nth-child(3) .text {
  padding-right: 57%;
}
.item-2:nth-child(4) .text {
  padding-right: 16%;
}

.item-2 .icons2 {
  display: inline;
  object-fit: cover;
}

/* iconic end */

.footer {
  background: url(../images/footer-bg.png) no-repeat center top;
  height: 280px;
  padding-top: 76px;
  padding-bottom: 1%;
  color: #fff;
}
.wrap {
  width: 100%;
}

.inner {
  width: 1180px;
  background: none !important;
  padding: 0px 20px;
}
.item {
  width: 25%;
  padding-right: 30px;
}
.item a {
  width: 255px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}
.item .title {
  font-size: 20px;
  border-bottom: 1px solid #807875;
  display: block;
  padding: 0 0 8px;
  margin: 0 0 10px;
}
.item ul {
  padding-left: 0px;
}
.social li a {
  width: 35px;
  background: #fff;
  margin: 5px;
}
.social li a:hover {
  background: #7db927;
}
.social .bi {
  color: #463b37;
}

/* copyright start */
.copytext {
  color: #463b37;
  font-size: 14px;
}
/* copyright end */

/* footer classes end */
