* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  box-sizing: border-box;
}
.heading {
  border: 1px solid gray;
  height: 90px;
}
.col-4:first-child {
  background-image: url(C:\Users\user\Documents\pragmatech-foundation\ProjectFrontEnd\images\kamp_2016_logo_BW-300x300.png);
}
