* {
  margin: auto 0;
  padding: 0;
}

.container {
  width: 1218px;
  height: 515px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.nav-bar {
  width: 72px;
  height: 425px;
  background: #31313a;
  border: 1px solid black;
  justify-content: flex-start;
}
.nav-bar ul {
  list-style: none;
}
.nav-bar ul li {
  width: 10px;
  height: 15px;
}

.nav-bar ul li a {
  padding: 5px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}
